node_modules
dist
build
target
serverless
!/serverless  # Allow wix-serverless
storybook-static
.env*.local
lefthook-local.yml
.idea
.wix

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache

# Misc
.DS_Store
out
.next
**/cypress/videos
**/cypress/screenshots
.swc

.turbo