@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Tailwind changes svg to display:block but it breaks some icoms in wix design system */
svg {
  display: inline;
}
